/* styleIndex.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    background-color: #3498db;
}

.contenedor-logo {
    flex-grow: 1;
    text-align: center;
}

.contenedor-logo img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}

nav {
    background-color: #5ab5f2;
    color: #3498db;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #2980b9;
    color: #fff;
}

main {
    background-color: #dae7f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main img {
    max-width: 400px;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    nav a {
        margin: 5px;
    }
}
