body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;  
}

.contenedor-logo {
    flex-grow: 1;
    text-align: center;
}

.contenedor-logo img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}

nav {
    background-color: #5ab5f2;
    color: #3498db;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #2980b9;
    color: #fff;
}

main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #3498db; 
}

#chat-container {
    max-width: 500px; 
    margin: 0 auto; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#chat {
    width: 450px;
    background-color: #fff;
    padding: 2px;
    margin-bottom: 2px;
    max-width: 450px;
    overflow-y: auto;
    height: 200px;
}

#nombre {
    color: #0a5588;
    font-size: 14px
}

#mensaje {
    color: #fff;
    font-size: 13px
}

.mensaje-container {
    background-color: #61aee1; 
    padding: 10px; 
    border-radius: 10px; 
    margin: 10px 0; 
}
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2184c8;
}
#separador {
    padding: 5px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input[type="text"],
.input-container input[type="file"],
.input-container select,
.input-container button {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container input[type="file"] {
    width: calc(100% - 100px);
}

.input-container input[type="file"] + button {
    margin-left: 10px;
}

.input-container button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #2184c8;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin-right: 10px;
}

select {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: 1px solid #1f75ae;
    border-radius: 5px;
}
select:hover{
    background-color: #1f75ae;
}
.opcion-destacada {
    background-color: #fff;
    color: #3498db
}
.opcion-destacada:hover{
    background-color: #abbef8;
}
footer {
    padding: 0;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #fff;
    text-decoration: none;
}
