/* styleIndex.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Cambiado a justify-content: space-between; */
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.boton-menu {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.contenedor-logo {
    flex-grow: 1; /* El logo ocupará el espacio restante y se centrará */
    text-align: center; /* Centra horizontalmente */
}

.contenedor-logo img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}

.lista-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.lista-menu li {
    margin-right: 0;
}

.lista-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s; /* Agregando transición */
}

.lista-menu a:hover {
    background-color: #2980b9; /* Cambio de color en hover */
}

.desplegable {
    position: relative;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2980b9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.desplegable:hover .contenido-desplegable {
    display: block;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
